* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  font-family:sans-serif;
  margin: 25px;
  color: #e2e2e2;
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

h1 {
  font-weight: bold;
  margin-bottom: 25px;
}

h2 {
  margin-top: 5px;
}

p {
  max-width: 900px;
}

form {
  margin-bottom: 25px;
  padding: 15px;
  background-color: #000000;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 15px;
  /* border: 1px solid rgba(2, 154, 255, 0.986); */
  box-shadow: 0 0 9px rgb(247, 237, 149);
}

.user-dropdown {
  margin-bottom: 10px;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  background-color: rgb(209, 209, 209);
  border-radius: 3px;
  font-size: 16px;
}

input[type=submit] {
  font-size: 15px;
  font-weight: 600;
  border-radius: 3px;
  background-color: #db6300;
  color: rgb(255, 255, 255);
  /* border: 1px solid grey;
  box-shadow: 2px 2px #999; */
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #ff7300;
  color: black;
}

code {
  font-family: monospace;
  font-size: 0.9em;
  color: #ff8800e0;
  padding: 2px;
}

.code {
  margin-bottom: 10px;
}

.optional-get-queries {
  font-size: 0.8em;
}

dialog {
    border: none;
    border-radius: 12px;
}

dialog::backdrop {
    background: rgba(0,0,0,.6);
}

dialog[open] {
    animation: fadeIn .2s;
}

.modal-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}


#response-output-json, #response-output-ux {
  /* min-height: 120px; */
  padding: 1rem;
  border: 1px solid white;
  border-radius: 8px;
  overflow-x: auto;
}

.ux-response-head {
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.exercise-card {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 1px solid #444;
  border-radius: 8px;
  padding: 10px;
  margin: 10px 0;
  background-color: #2b2b2b;
  text-align: left;
  color: rgb(238, 236, 236);
}

.exercise-card h4 {
  margin-top: 0;
}

