* {
  box-sizing: border-box;
}

body {
  font-family:sans-serif;
  margin: 25px;
  color: #e2e2e2;
  background-color: #1f1f1f;
}

h1 {
  font-weight: bold;
  
}

p {
  max-width: 900px;
}

form {
  margin-bottom: 25px;
  padding: 15px;
  background-color: #000000;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 5px;
  border: 1px solid rgb(223, 221, 221);
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  background-color: rgb(209, 209, 209);
  border-radius: 3px;
  font-size: 16px;
}

input[type=submit] {
  font-size: 15px;
  font-weight: 600;
  border-radius: 3px;
  background-color: #db6300;
  color: rgb(255, 255, 255);
  /* border: 1px solid grey;
  box-shadow: 2px 2px #999; */
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #ff7300;
  color: black;
}

code {
  font-family: monospace;
  font-size: 1.2em;
  color: #ff8800e0;
  padding: 2px;
}
